:root {
  --ana-renk: #264653;
  --yardimci-renk: #2a9d8f;
  --arka-plan: #f4f4f4;
}





body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--arka-plan);
  color: var(--ana-renk);
  padding: 50px;
}

.btn-primary {
  background-color: var(--yardimci-renk);
  border: none;
}
